<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  
</head>
<body>
  <nav class="navbar-bleu">
    <a routerLink="/profil"><img class="imgnav" src="Profile blanc.png" alt="Profile"></a>
    <a href="/home"><img class="imgnav" src="Home blanc.png" alt="Home"></a>
    <a href="#"><img class="imgnav" src="Stats blanc.png" alt="Stats"></a>
    <a href="#"><img class="imgnav" src="Mail blanc.png" alt="Mail"></a>
    <a href="#"><img class="imgnav" src="Com blanc.png" alt="Com"></a>
    <a href="#"><img class="imgnav" src="Déconnexion blanc.png" alt="Déconnexion"></a>
  </nav>
  
  <div class="dashboard-container">
      <h1>Tableau de Bord</h1>
      <p>Bienvenue sur votre tableau de bord !</p>
    
      <div class="stats">
        <div class="stat-card">
          <h2>Utilisateurs actifs</h2>
          <p>1 234</p>
        </div>
        <div class="stat-card">
          <h2>Commandes aujourd'hui</h2>
          <p>56</p>
        </div>
        <div class="stat-card">
          <h2>Revenu mensuel</h2>
          <p>12 345 €</p>
        </div>
      </div>
    
    </div>
</body>
</html>




