<nav class="navbar-bleu">
    <a href="#"><img class="imgnav" src="./assets/Icones/Profile_blanc.png" alt="Icones du Profile"></a>
    <a href="#"><img class="imgnav" src="./assets/Icones/Home_blanc.png" alt="Icones du Profile"></a>
    <a href="#"><img class="imgnav" src="./assets/Icones/Stats_blanc.png" alt="Icones du Profile"></a>
    <a href="#"><img class="imgnav" src="./assets/Icones/Mail_blanc.png" alt="Icones du Profile"></a>
    <a href="#"><img class="imgnav" src="./assets/Icones/Com_blanc.png" alt="Icones du Profile"></a>
    <a href="#"><img class="imgnav" src="./assets/Icones/Déconnexion_blanc.png" alt="Icones du Profile"></a>
  </nav>
